In [1]:
import numpy as np
import pandas as pd

In [4]:
#For datasets
#It is a population dataset
from random import randint
df=pd.DataFrame({
    "Sales":np.random.randint(100,1000,600)
})
print(df)

     Sales
0      914
1      520
2      179
3      827
4      253
..     ...
595    149
596    581
597    369
598    645
599    512

[600 rows x 1 columns]

In [6]:
#Random sample of 50
sample=df["Sales"].sample(50,random_state=42)
print(sample)

110    595
419    839
565    811
77     204
181    829
284    900
10     594
469    630
78     582
349    959
55     263
118    927
109    877
588    557
369    510
234    953
30     936
212    922
184    711
86     650
2      179
587    123
535    653
596    581
368    526
539    702
72     616
135    441
556    808
437    264
595    149
163    210
82     869
257    789
192    505
453    492
132    987
515    383
441    259
275    834
364    285
29     439
506    636
570    157
24     669
182    710
473    700
104    284
63     530
490    484
Name: Sales, dtype: int32

In [8]:
#Point Estimation
population_mean=df["Sales"].mean()
sample_mean=sample.mean()
sample_mean,population_mean

(np.float64(590.26), np.float64(545.0083333333333))

In [ ]:
#Interval Estimation
>provide intervals in which population parameter falls
>More accurate than point estimation

In [18]:
import scipy.stats as stats

n = len(sample)
std = sample.std()

# 95% CI
confidence_interval = stats.t.interval(
    0.95,       # confidence level
    n-1,        # degrees of freedom
    loc=sample_mean,   # sample mean
    scale=std/np.sqrt(n)  # standard error
)

confidence_interval

(np.float64(518.604891148549), np.float64(661.915108851451))

In [ ]:
#Central Limit Theorem
Its states that when plotting a sample distribution of means,the means of sample will be equal to the  population mean 
and sample distribution will approach normal distribution with variance equal to standard error.

Means of all samples = Mean of population

Assumption
>The sample should be selected randomly
>One sample should not  influence the other samples
>Sample size < 10 % of population and sample size > 30 is considered good.

In [ ]:
#Hypothesis Testing 
> Z testing
> T testing
> Chi square testing

In [25]:
#Z testing 
#To check whether the average is greater than 550.
std=df["Sales"].std()
n=len(sample)
z_test=(sample_mean-population_mean)/(std/np.sqrt(n))
z_test
z_value=stats.norm.ppf(0.95)
if (z_test > z_value) :
    print("The average is greater than 550")
else:
    print("The Average is not greater than 550")

The Average is not greater than 550

In [ ]:
#T testing 
Condition
>Data must be normal distribution
>No. of sample < 30

To  find the t value you must know significance level and df=n-1
If the two sample data set are used then df=na-1 + nb-1
t cal=(sample_mean_A-sample_mean_B)/np.sqrt((std_A/n_A)+(std_B/n_B))

To know the value of T in python
stat.t.ppf(1-significance_Value,df)

If T_test > T_Value
H1 is right 
else
h0 is right

In [26]:
#Chi _ Square test
import pandas as pd
from scipy.stats import chi2_contingency

# Creating a simple contingency table
data = {
    "Purchased": [40, 50],
    "Not_Purchased": [60, 50]
}
index = ["Male", "Female"]

df = pd.DataFrame(data, index=index)

print("Contingency Table:")
display(df)

# Performing Chi-Square Test of Independence
chi2, p_value, dof, expected = chi2_contingency(df)

print("\nChi-Square Statistic:", chi2)
print("Degrees of Freedom:", dof)
print("P-value:", p_value)

# Expected frequency table
print("\nExpected Frequencies:")
expected_df = pd.DataFrame(expected, index=index, columns=df.columns)
display(expected_df)

# Decision
alpha = 0.05
if p_value < alpha:
    print("\nConclusion: Reject Null Hypothesis")
    print("➡ Gender and Purchase decision are NOT independent.")
else:
    print("\nConclusion: Fail to Reject Null Hypothesis")
    print("➡ Gender and Purchase decision are independent.")

Contingency Table:

        Purchased  Not_Purchased
Male           40             60
Female         50             50

Chi-Square Statistic: 1.6363636363636362
Degrees of Freedom: 1
P-value: 0.20082512269514174

Expected Frequencies:

        Purchased  Not_Purchased
Male         45.0           55.0
Female       45.0           55.0

Conclusion: Fail to Reject Null Hypothesis
➡ Gender and Purchase decision are independent.

In [27]:
# Anova Testing
import numpy as np
from scipy.stats import f_oneway

# Scores from three teaching methods
method_A = np.array([85, 78, 92, 88, 76])
method_B = np.array([72, 70, 68, 65, 74])
method_C = np.array([90, 88, 85, 87, 92])

print("Method A Scores:", method_A)
print("Method B Scores:", method_B)
print("Method C Scores:", method_C)

# One-way ANOVA test
f_statistic, p_value = f_oneway(method_A, method_B, method_C)

print("\nF-statistic:", f_statistic)
print("P-value:", p_value)

# Interpretation
alpha = 0.05
if p_value < alpha:
    print("\nConclusion: Reject Null Hypothesis")
    print("➡ At least one teaching method has a significantly different mean score.")
else:
    print("\nConclusion: Fail to Reject Null Hypothesis")
    print("➡ All teaching methods have similar mean scores (no significant difference).")

Method A Scores: [85 78 92 88 76]
Method B Scores: [72 70 68 65 74]
Method C Scores: [90 88 85 87 92]

F-statistic: 21.758887171561053
P-value: 0.00010197534712320945

Conclusion: Reject Null Hypothesis
➡ At least one teaching method has a significantly different mean score.

In [1]:
import numpy as np
from scipy.stats import f_oneway

# Scores from three teaching methods
method_A = np.array([85, 78, 92, 88, 76])
method_B = np.array([72, 70, 68, 65, 74])
method_C = np.array([90, 88, 85, 87, 92])

print("Method A Scores:", method_A)
print("Method B Scores:", method_B)
print("Method C Scores:", method_C)

# One-way ANOVA test
f_statistic, p_value = f_oneway(method_A, method_B, method_C)

print("\nF-statistic:", f_statistic)
print("P-value:", p_value)

# Interpretation
alpha = 0.05
if p_value < alpha:
    print("\nConclusion: Reject Null Hypothesis")
    print("➡ At least one teaching method has a significantly different mean score.")
else:
    print("\nConclusion: Fail to Reject Null Hypothesis")
    print("➡ All teaching methods have similar mean scores (no significant difference).")

Method A Scores: [85 78 92 88 76]
Method B Scores: [72 70 68 65 74]
Method C Scores: [90 88 85 87 92]

F-statistic: 21.758887171561053
P-value: 0.00010197534712320945

Conclusion: Reject Null Hypothesis
➡ At least one teaching method has a significantly different mean score.